 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
    }

    body {
        font-size: 1.2rem;
    }

    .head {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    .head img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 2px solid rgb(107, 52, 107);
    }

    .head a {
        justify-content: left;
        margin-right:  37rem; ;
        font-weight: bold;
        color: black;
    }

    .head input, .head button {
        margin-top: 0.5rem;
        padding: 0.5rem;
        border-radius: 4px;
        font-size: 1rem;
    }

    .head button:hover {
        box-shadow: 2px 2px black;
        cursor: pointer;
    }

    hr {
        margin: 0.5rem 0;
        height: 1px;
        background-color: black;
    }

    .headline {
        padding: 1rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    h4 {
        margin: 1rem;
        text-align: center;
    }

    .middle {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }

    .middle div {
        flex: 0 1 300px;
        height: 400px;
        border-radius: 15px;
        background-size: cover;
        background-position: center;
        transition: box-shadow 0.3s ease;
    }

    .middle div:hover {
        box-shadow: 4px 4px black;
    }

    .bottom {
        text-align: center;
        padding: 1rem;
    }

    .bottom p {
        font-family: "Grechen Fuemen", cursive;
        margin-bottom: 0.5rem;
    }

    .bottom a {
        margin-left: 10em;
        display: inline-block;
        color: #000;
    }

    .card1 {
        background-image: url('https://github.com/AkkiDevlOops/Akkifiles/blob/main/Screenshot%202025-06-15%20003246.png?raw=true');
    }

    .card2 {
        background-image: url('https://github.com/AkkiDevlOops/Akkifiles/blob/main/WhatsApp%20Image%202025-06-14%20at%2023.51.16_9497be70.jpg?raw=true');
    }

    .card3 {
        background-image: url('https://github.com/AkkiDevlOops/Akkifiles/blob/main/collage.jpg?raw=true');
    }

    @media (max-width: 768px) {
        .head {
            flex-direction: column;
            gap: 0.5rem;
            text-align: center;
        }

        .headline h2 {
            font-size: 1.2rem;
        }

        .middle div {
            height: 300px;
        }
    }

    @media (max-width: 480px) {
        .middle div {
            flex: 0 1 90%;
            height: 250px;
        }

        .head input, .head button {
            width: 100%;
        }
    }
